<div class="container">

    <div class="links">
        <a href="">
            <button mat-fab extended>
                <mat-icon>checklist</mat-icon>
                <span>
                    Set Your Todays Progress
                </span>
            </button>
        </a>
        <a href="">
            <button mat-fab extended>


                <mat-icon>calendar_month</mat-icon>
                <span>
                    See your Progress
                </span>
            </button>
        </a>
        <a href="">
            <button mat-fab extended>
                <mat-icon>fitness_center</mat-icon>
                <span>
                    Add new Workout
                </span>

            </button>
        </a>
        <a routerLink="/weekly-plan">
            <button mat-fab extended>
                <mat-icon>fitness_center</mat-icon>
                <span>
                    My Weekly routine  
                </span>

            </button>
        </a>
    </div>
</div>